.app {
  height: 100vh;
  font-family: "Montserrat";
  letter-spacing: -0.8px;
  background: linear-gradient(
    rgba(250, 250, 250, 1) 0%,
    rgba(250, 250, 250, 1) 75%,
    rgba(235, 197, 2, 1) 100%
  );
  overflow: scroll;
  text-align: center;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../public/header.png");
  background-repeat: repeat;
  background-size: 800px;
  height: 75%;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  border: 3px solid rgba(235, 197, 2, 1);
  border-radius: 5px;
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75%;
}

.morphInput {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.success {
  margin-left: -30px;
}

.title {
  display: flex;
  font-size: 24px;
  color: rgba(250, 250, 250, 0.5);
  margin: 20px;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-variation-settings: "wght" 600;
  text-decoration: none;
}

.connectWalletButton {
  display: flex;
  border: 3px solid rgba(235, 197, 2, 1);
  border-radius: 50px;
  width: 150px;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin: 20px;
  cursor: pointer;
  font-weight: 600;
  font-variation-settings: "wght" 600;
  color: black;
  font-size: 16px;
  background: linear-gradient(
    to left,
    rgba(250, 250, 250, 1) 0%,
    rgba(250, 250, 250, 1) 10%,
    rgba(235, 197, 2, 1) 100%
  );
}

.buttonActive {
  display: flex;
  border: 3px solid rgba(235, 197, 2, 1);
  border-radius: 50px;
  width: auto;
  align-items: center;
  justify-content: center;
  padding: 15px 30px 15px 30px;
  margin: 10px;
  cursor: pointer;
  font-weight: 600;
  font-variation-settings: "wght" 600;
  color: black;
  font-size: 16px;
  background: linear-gradient(
    to left,
    rgba(250, 250, 250, 1) 0%,
    rgba(250, 250, 250, 1) 10%,
    rgba(235, 197, 2, 1) 100%
  );
}

.buttonInactive {
  display: flex;
  border: 3px solid rgba(235, 197, 2, 1);
  border-radius: 50px;
  width: auto;
  align-items: center;
  justify-content: center;
  padding: 15px 30px 15px 30px;
  margin: 10px;
  font-weight: 600;
  font-variation-settings: "wght" 600;
  cursor: not-allowed;
  color: black;
  font-size: 16px;
  background: linear-gradient(
    to left,
    rgba(250, 250, 250, 1) 0%,
    rgba(250, 250, 250, 1) 10%,
    rgba(235, 197, 2, 1) 100%
  );
  opacity: 50%;
}

.description {
  width: 40%;
  font-size: 18px;
  color: black;
  font-weight: 500;
  font-variation-settings: "wght" 500;
  margin-bottom: 20px;
}

.link {
  font-weight: 600;
  font-variation-settings: "wght" 600;
  color: black;
}

.uses {
  width: 40%;
  font-size: 16px;
  color: black;
  font-weight: 500;
  font-variation-settings: "wght" 500;
  margin-bottom: 20px;
}

.whyCare {
  font-size: 14px;
  color: black;
  font-weight: 600;
  font-variation-settings: "wght" 600;
}

.footerContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}

@media only screen and (max-width: 720px) {
  .description {
    width: 80%;
  }

  .uses {
    margin-top: 100px;
    width: 80%;
  }
}
